body {
    background-image: url(https://media.istockphoto.com/id/814684194/photo/coffee-beans-and-hot-cofee-cup-with-latte-art-on-wooden-background-side-view-with-copy-space.jpg?s=612x612&w=0&k=20&c=HAKafzNkAkO4zhKu6tuz5yZr6ILhh5FKqhrGXikfjAo=);
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 20px;
    background-size: cover;
    background-attachment: fixed;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }